*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(10, 19, 37);
}

/* HEADER */
header{
    background-color: #0A1325;
}

header .container{
    display: flex;
    max-width: 1250px;
    margin: auto;
    padding: 30px;
}

header .container .ico{
    height: fit-content;
    padding: 15px;
    margin-left: 15px;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    transition: 0.2s;
}

header .container .ico:hover{
    transform: translateY(-7px);
}

header .container #ico-1{
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    header .container{
        flex-direction: column;
    }
    
    header .container #logo{
        max-height: 240px;
        align-self: flex-start;
    }

    header .container .ico{
        width: fit-content;
    }

    header .container #ico-1{
        margin-left: 0;
    }
}

/* BLOCO 1 */
.bloco-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bloco-1 .container{
    background-image: url('../imgs/bg-1.png');
    background-position: center;
    background-size: auto 100%;
    width: 100%;
    height: 32vw;
    cursor: pointer;
}

.bloco-1 .container:nth-child(1){
    background-image: url('../imgs/bg-1.png');
}
.bloco-1 .container:nth-child(2){
    background-image: url('../imgs/bg-2.png');
}
.bloco-1 .container:nth-child(3){
    background-image: url('../imgs/bg-3.png');
}

.bloco-1 .container .box{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #0A1325;
    transition: 0.4s;
}

.bloco-1 .container:nth-child(4) .box, .bloco-1 .container:nth-child(5) .box, .bloco-1 .container:nth-child(6) .box{
    margin-left: auto;
}

.bloco-1 .container:hover .box{
    background-color: rgb(10, 19, 37, 0.9);
}

.bloco-1 .container .box p{
    font-size: 2.1vw;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: auto;
    white-space: nowrap;
    padding: 0 0 30px 30px;
}

.bloco-1 .container:nth-child(1) .box p{
    color: #FF0646;
}
.bloco-1 .container:nth-child(2) .box p{
    color: #FEB202;
}
.bloco-1 .container:nth-child(3) .box p{
    color: #FE7F1E;
}
.bloco-1 .container:nth-child(4) .box p{
    color: #FEB202;
}
.bloco-1 .container:nth-child(5) .box p{
    color: #FE7F1E;
}
.bloco-1 .container:nth-child(6) .box p{
    color: #FF0646;
}

@media only screen and (max-width: 1200px) {
    .bloco-1{
        grid-template-columns: 1fr 1fr;
    }

    .bloco-1 .container{
        background-size: 100%;
    }

    .bloco-1 .container .box p{
        font-size: 3vw;
        padding: 0 0 15px 15px;
    }

    .bloco-1 .container:nth-child(3) .box, .bloco-1 .container:nth-child(4) .box{
        margin-left: auto;
    }

    .bloco-1 .container:nth-child(5) .box, .bloco-1 .container:nth-child(6) .box{
        margin-left: 0;
    }
}

@media only screen and (max-width: 675px) {
    .bloco-1{
        grid-template-columns: 1fr;
    }

    .bloco-1 .container{
        height: 450px;
        background-size: cover;
    }

    .bloco-1 .container .box p{
        font-size: 6.5vw;
        padding: 0 0 15px 15px;
    }

    .bloco-1 .container:nth-child(2) .box, .bloco-1 .container:nth-child(4) .box, .bloco-1 .container:nth-child(6) .box{
        margin-left: auto;
    }

    .bloco-1 .container:nth-child(1) .box, .bloco-1 .container:nth-child(3) .box, .bloco-1 .container:nth-child(5) .box{
        margin-left: 0;
    }
}

/* BLOCO 2 */
.bloco-2{
    display: flex;
    max-width: 1250px;
    margin: auto;
    padding: 30px;
}

.bloco-2 .container h4{
    color: #FF0646;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.bloco-2 .container .box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.bloco-2 .container .box .card{
    background-color: #D3E7E9;
    padding: 30px 15px 0 15px;
    border-radius: 15px;
    color: #0A1325;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 16vw;
    transition: 0.3s;
}

.bloco-2 .container .box .card:hover{
    transform: scale(1.05) translateY(-45px);
}

.bloco-2 .container .box .card h5{
    font-size: 1.2vw;
    padding-bottom: 15px;
}

.bloco-2 .container .box .card p{
    font-size: 0.8vw;
    font-weight: 500;
    line-height: 0.9vw;
    padding-bottom: 15px;
}

.bloco-2 .container .box .card hr{
    width: 50%;
    height: 10px;
    background-color: #FE7F1E;
    margin: auto auto 30px auto;
    border: 0;
    border-radius: 15px;
    transition: 0.5s;
}

.bloco-2 .container .box .card:hover hr{
    transform: translateX(-25px);
    width: 150%;
    margin-bottom: 0;
    padding-bottom: 45px;
    transition-timing-function: linear;
    transition: 0.4s;
}

.bloco-2 .container .box-2{
    display: none;
}

.bloco-2 .container .box-2 .swiper{
    width: 100%;
    height: 380px;
}

.bloco-2 .container .box-2 .swiper .card{
    background-color: #D3E7E9;
    padding: 0 20px;
    border-radius: 8px;
    color: #0A1325;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bloco-2 .container .box-2 .swiper .card hr{
    width: 50%;
    height: 12px;
    background-color: #FF0646;
    margin-bottom: 30px;
    border: 0;
}

.bloco-2 .container .box-2 .swiper .card h5{
    font-size: 36px;
    padding-bottom: 15px;
}

.bloco-2 .container .box-2 .swiper .card p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 45px;
}

.bloco-2 .container .box-2 .swiper .swiper-button-next{
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 85%;
    transform: rotate(90deg);
}

.bloco-2 .container .box-2 .swiper .swiper-button-next::after{
    color: #FE7F1E;
}

@media only screen and (max-width: 1600px) {
    .bloco-2 .container .box .card{
        height: 22vw;
    }

    .bloco-2 .container .box .card p{
        font-size: 1.1vw;
        font-weight: 500;
        line-height: 1.2vw;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .bloco-2 .container .box{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .bloco-2 .container .box .card{
        height: max-content;
    }
    .bloco-2 .container .box .card h5{
        font-size: 22px;
    }

    .bloco-2 .container .box .card p{
        font-size: 16px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .bloco-2 .container{
        width: 100%;
    }

    .bloco-2 .container h4{
        font-size: 28px;
    }

    .bloco-2 .container .box{
        display: none;
    }

    .bloco-2 .container .box-2{
        display: block;
    }
}

/* BLOCO 3 */
.bloco-3{
    background-color: #FF0646;
}

.bloco-3 .container{
    display: flex;
    max-width: 1250px;
    margin: auto;
    padding: 45px 30px;
}

.bloco-3 .container h3{
    font-size: 5.5vw;
    font-weight: 800;
    line-height: 5vw;
    text-transform: uppercase;
    color: #D3E7E9;
}

/* BLOCO 4 */
.bloco-4{
    background-color: #0A1325;
}

.bloco-4 .container{
    display: flex;
    max-width: 1250px;
    margin: auto;
    padding: 75px 30px;
}

.bloco-4 .container .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    height: 180px;
}

.bloco-4 .container .grid div h5{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #D3E7E9;
    border-bottom: solid 0px #FF0646;
    width: fit-content;
    transition: 0.2s;
    cursor: pointer;
}

.bloco-4 .container .grid div h5:hover{
    color: #FEB202;
}

.bloco-4 .container .grid div h5.active{
    color: #FEB202;
    border-bottom: solid 5px #FF0646;
}

.bloco-4 .container .grid div p{
    color: #D3E7E9;
    font-size: 15px;
    padding-top: 15px;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;
}

.bloco-4 .container .grid div p.active{
    opacity: 1;
}